leibi.hu {
    encode gzip zstd
    header {
        Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer-when-downgrade"
        Content-Security-Policy "default-src 'self' 'unsafe-inline' data:"
    }
    reverse_proxy app:7860
    # basicauth /* {
    #     admin JDJhJDE0JGcyTDNqeVpIZFZwbFl5LzB6ZHUxanFQbWlTVWdLZmtLekhsemhDTXBybnVBWldEbGYyRVBL
    # }
}

:80 {
    redir https://leibi.hu{uri}
}
